# Ignore everything
*

# But not these files
!client.c
!server.c
!Makefile
!makefile

# Don't ignore .gitignore itself
!.gitignore

# Ignore compiled binaries
server
rfs

# Ignore data directories
server_files/
data/
data_files/